<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">

    <title>PO Form</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
</head>

<body>
    <form method="POST" action="/po/form/submit" hx-target="#itemList">
        <div class="form-group">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </div>

        <div id="items-container">
            <div class="item">
                <div class="form-group">
                    <label for="name1">name:</label>
                    <input type="text" id="name1" name="name[]" required>
                </div>
                <div class="form-group">
                    <label for="supplier1">Supplier:</label>
                    <select id="supplier1" name="supplier[]" hx-get="/user/form/suppliers" hx-trigger="load">
                        <option value="">Select a supplier</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nominal1">Nominal:</label>
                    <select id="nominal1" name="nominal[]" hx-get="/user/form/nominals" hx-trigger="load">
                        <option value="">Select a nominal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product1">Product:</label>
                    <select id="product1" name="product[]" hx-get="/user/form/products" hx-trigger="load">
                        <option value="">Select a product</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="unit_price1">Unit Price:</label>
                    <input type="number" id="unit_price1" name="unit_price[]" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="quantity1">Quantity:</label>
                    <input type="number" id="quantity1" name="quantity[]" required>
                </div>
                <div class="form-group">
                    <label for="link1">link:</label>
                    <input type="url" id="link1" name="link[]" required>
                </div>
            </div>
        </div>

        <button type="button" id="add-item">Add Item</button>

        <button type="submit">Submit</button>
    </form>

    <script>
        let itemCount = 1;

        document.getElementById('add-item').addEventListener('click', function () {
            itemCount++;

            var itemsContainer = document.getElementById('items-container');
            var newItem = document.createElement('div');
            newItem.className = 'item';
            newItem.innerHTML = `
                <div class="form-group">
                    <label for="name${itemcount}">link:</label>
                    <input type="text" id="name${itemcount}" name="name[]" required>
                </div>
                <div class="form-group">
                    <label for="supplier${itemCount}">Supplier:</label>
                    <select id="supplier${itemCount}" name="supplier[]" hx-get="/user/form/suppliers" hx-trigger="load">
                        <option value="">Select a supplier</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nominal${itemCount}">Nominal:</label>
                    <select id="nominal${itemCount}" name="nominal[]" hx-get="/user/form/nominals" hx-trigger="load">
                        <option value="">Select a nominal</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="product${itemCount}">Product:</label>
                    <select id="product${itemCount}" name="product[]" hx-get="/user/form/products" hx-trigger="load">
                        <option value="">Select a product</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="unit_price${itemCount}">Unit Price:</label>
                    <input type="number" id="unit_price${itemCount}" name="unit_price[]" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="quantity${itemCount}">Quantity:</label>
                    <input type="number" id="quantity${itemCount}" name="quantity[]" required>
                </div>
                <div class="form-group">
                    <label for="link${itemcount}">link:</label>
                    <input type="url" id="link${itemcount}" name="link[]" required>
                </div>
            `;
            itemsContainer.appendChild(newItem);
            htmx.process(newItem);
        });
    </script>
</body>

</html>
