package components

templ Hello(name string) {
	<body>
		<div>Hello, { templ.EscapeString(name) }</div>
		<h1>Something</h1>
		<p>whaaaaaaaaaaaaaaat</p>
		<p>hoooraaahsadsakdjsakd</p>
		<h2>wqho</h2>
	</body>
}
